* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: monospace;
}

/* Universal CSS */
.bg-gray {
  background-color: gray;
}

.bg-salmon {
  background-color: salmon;
}

.bg-darkgray {
  background-color: #212529;
}

/* Header/Nav CSS */
header {
  width: 100vw;
  height: 40px;
}

nav {
  display: flex;
  flex-direction: row;
}

#nav-left {
  width: 50%;
  padding-top: 8px;
  display: flex;
  place-content: center left;
}

#info {
  padding-left: 10px;
  font-size: 120%;
  place-content: center;
  transition: 0.4s;
}

#info:hover {
  color: salmon;
  cursor: pointer;
}

#nav-right {
  width: 50%;
  padding-top: 8px;
  display: flex;
  place-content: center right;
}

#label {
  margin: 0 5px;
  padding: 0 5px;
  color: white;
  font-size: 120%;
  place-content: center;
  border: 1px solid black;
  border-radius: 0.2rem;
  background-color: gray;
  transition: 0.4s;
}

#label:hover {
  color: white;
  cursor: pointer;
  border: 1px solid salmon;
  background-color: salmon;
}

#title {
  place-content: center;
}

#inputs {
  place-content: center;
}

#count {
  margin: 0 5px;
  padding-left: 5px;
  transition: 0.4s;
}

#count:hover {
  color: salmon;
  cursor: pointer;
}

#time {
  margin: 0 5px;
  padding-left: 5px;
  transition: 0.4s;
}

#time:hover {
  color: salmon;
  cursor: pointer;
}

#button {
  border: 0;
  color: white;
  margin: 0 5px;
  padding: 5px;
  border-radius: 10%;
  transition: 0.4s;
}

/* Main CSS */
main {
  width: 100vw;
  height: calc(100vh - 40px);
  background-image: url("../assets/img/bg-2.png");
  background-size: cover;
  background-position: bottom center;
}

#word {
  padding: 2%;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 5vw;
  overflow-x: auto;
}

/* Footer CSS */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50vw;
  min-height: 5vh;
  max-height: 50vh;
  color: white;
  background-color: #2125297a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  flex-wrap: wrap;
  overflow-y: auto;
}

#history {
  width: 100%;
  height: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow-y: auto;
}

/* Information CSS */
.title-div {
  width: 50%;
  place-content: center;
}

.info-card {
  width: 735px;
  height: 240px;
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
}

.info-card-text {
  flex-direction: column;
  padding: 2%;
  font-size: 125%;
}

.info-card-text-title {
  color: salmon;
}

.info-card-text-body {
  padding-top: 2%;
}

#info-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#info-div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 755px;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 0.4rem;
}

#info-title {
  width: 100%;
  height: 50px;
  padding: 0 1.5%;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1.25rem;
  background-color: salmon;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}

#info-exit {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

#info-body {
  max-height: 250px;
  overflow-y: auto;
}

#info-card-footer-text {
  visibility: hidden;
}

#ent {
  height: 100%;
  background-color: whitesmoke;
  border-radius: 0.4rem;
}

@media screen and (max-width: 800px) {
  /* Header/Nav CSS */
  nav {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
  }

  #nav-left {
    width: 100vw;
    height: 50px;
    font-size: 150%;
    place-content: center;
  }

  #info {
    width: 50%;
    color: white;
    text-align: center;
    border-radius: 0.4rem;
    background-color: salmon;
  }

  #nav-right {
    width: 100vw;
    height: 50px;
    font-size: 125%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #label {
    width: 70%;
    margin-top: 3%;
    padding: 1% 0;
    border-radius: 0.4rem;
  }

  #title {
    width: 75vw;
    padding-top: 1%;
  }

  #count {
    height: 25px;
    margin-top: 5%;
  }

  #time {
    height: 25px;
  }

  #button {
    height: 50px;
    margin-top: 3%;
    font-size: 125%;
    border-radius: 0.4rem;
    z-index: 1;
  }

  /* Main CSS */
  main {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 200px);
    background-image: url("../assets/img/bg-2v.png");
    background-size: cover;
    background-position: bottom right;
  }

  #word {
    margin-top: 30px;
    font-size: 10vw;
    text-align: center;
    -webkit-text-stroke: 1px black;
  }

  /* Footer CSS */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50vw;
    min-height: 5vh;
    max-height: 50vh;
    color: white;
    background-color: #2125297a;
  }

  /* Information CSS */
  #info-bg {
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
  }

  #info-div {
    width: 100vw;
  }

  #info-title {
    padding: 0 4%;
  }

  #info-card {
    width: 100vw;
    height: 240px;
  }

  #info-card-footer-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: salmon;
    font-size: 75%;
    padding-left: 2%;
    visibility: visible;
  }
}
